<h1>Hello <%= @name %></h1>

<% if @message %>
  <p><%= @message %></p>
<% end %>

<form action="" method="post">
  <input type="text" name="name" value="<%= @name %>">
  <input type="submit" value="Submit Your Name">
</form>

<ul>
  <% @names.each do |name| %>
    <li><%= name %></li>
  <% end %>
<ul>
